@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;700&display=swap');

* {
  font-family: "Verdana", Times, Serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #dc78206f;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #dc7720;
  top: 0;
  height: 15vh;
  width: 100%;
}

main {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100vw;
}

.art {
  animation: fadeIn 1500ms ease-in;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* iPad */
@media (min-width: 800px) {
  nav {
    height: 20vh;
  }
  
  main {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .art {
    max-width: 40%;
  }

  .wide {
    max-width: 75%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

