
* {
  font-family: "Verdana", Times, Serif;
}

body {
  margin: 5%;
}

h1 { 
  font-size: 2rem;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.pictures {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}