@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

* {
  font-family: 'Roboto Slab', serif;
}

#piece-detail {
  width: 100%;
  height: 85vh;

  padding: 1rem 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

#piece-detail > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#piece {
  max-width: 75%;
  max-height: 75%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: translate(0);
}

#piece:hover {
  z-index: var(--z-art-hover);
  transform: scale(1.2);
}

/* Really small screens */
@media (max-width: 375px) {
  #piece-detail {
    justify-content: space-evenly;
  }

  #piece-detail > div {
    gap: 1rem;
  }
}

/* iPad */
@media (min-width: 768px) {
  #piece-detail {
    justify-content: space-evenly;
  }
}

/* Computers */
@media (min-width: 1024px) {
  #piece-detail > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 25%;
  }
}